@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$font: 'Lato', sans-serif;

//Colors
$primary_color: #c4c4;
$secondary_color: #c4c4c4;